<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <ul class="navigation">
  <li><a href="/">Home</a></li>
  
    {{#if theUser}}
  <li>
    <a href="/timeline">User Search</a>
    </li>
    <li>
    <a href="/dreams">Dream</a>
    |
    <a href="/dreams/all">All Dreams</a>
    </li>
    {{/if}}
  
  <li>
  
  {{#if theUser}}
 
   <a href="/logout">Logout</a>
   |
   <a href="/profile">Profile</a>

    {{else}}

      <a href="/login">Login</a>
      |
      <a href="/signup">signup</a>

    {{/if}}
      </li>
  </ul>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>