
<div class="container">
<div class="row">
{{#each result}}
  <div class="col-md-6 offset-md-3">
<a href='/timeline/{{this.user._id}}'>@{{this.user.username}}</a>
<br><br>

  <img src={{this.image}}>
</br>

  <h3>{{this.text}}</h3>
  
  </div>
  
{{/each}}


</div>
</div>